body{
    text-align: center;
    background-image: linear-gradient(rgb(100, 57, 0), rgb(54, 30, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: lightskyblue;
}